doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //link(rel='stylesheet', href='@picocss/pico')
        link(rel='stylesheet', href='/css/main.css')
        script(src=process.env.BROWSER_REFRESH_URL)
        title Vàld - Administration
    body
        
        main(class="container")
            block content 
                if error
                    article.alert-ko  #{error}

                article.grid#admin-authentication_form
                    div
                        hgroup
                            h1 Administration
                            h2 Merci de vous connecter pour accéder à cette zone
                        form(method="post")
                            input(type='email' name='email' placeholder='E-mail' aria-label='email' autocomplete='nickname' required='')
                            input(type='password' name='password' placeholder='Mot de passe' aria-label='Password' autocomplete='current-password' required='')
                            fieldset
                                label(for='remember')
                                input#remember(type='checkbox' role='switch' name='remember')
                                |             Se souvenir de moi
                            button.contrast(type='submit') Connexion
                    div
        footer(class="container")
            small Built with 
                a(href="https://picocss.com") Pico 
                span & 
                a(href="https://nodejs.org/en/") NodeJS
            block javascript
            - var messages = getMessages()
                    if messages.notify
                        each msg in messages.notify
                            .alert.alert-info= msg
                    if messages.error
                        each msg in messages.error
                            .alert.alert-danger= msg

